{% extends 'base.html.twig' %}
{% block body %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <h2>Dane osobowe</h2>

    <table>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
        </tr>
        {% for person in persons %}
            <tr>
                <td>{{ person.firstname }}</td>
                <td>{{ person.surname }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}