{% extends 'base.html.twig' %}
{% block body %}
    {% if msg is defined %}
        <script>alert('{{ msg }}')</script>
    {% endif %}
    <br>
    <h2>Dane użytkownika</h2><br>

    <br>
    <form method="POST" action="/save">
        Imię: <input type="text" name="firstname">
        <br>
        {% if errorFirstName is defined %}
            {% for error in errorFirstName %}
                <div style="color: red">{{ error }}</div>
            {% endfor %}
        {% endif %}
        Nazwisko: <input type="text" name="surname">
        <br>
        {% if errorSurname is defined %}
            {% for error in errorSurname %}
                <div style="color: red">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Zapisz">
    </form>
{% endblock %}