<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dane użytkownika!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}
            <a href="/"><button>Formularz</button></a>
            <a href="/get_person"><button>Dane użytkowników</button></a>
            <a href="http://symfonyodpodstaw.pl"><button>Strona główna</button></a>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
